<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule time:</strong>
  <%= @session.schedule_time %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @session.patient %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
