<p id="notice"><%= notice %></p>

<p>
  <strong>Date de la consultation:</strong>
  <%= @session.schedule_time.strftime("%Y/%m/%d %T") %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @session.patient %>
</p>

<%= link_to 'Modifier', edit_session_path(@session) %> |
<%= link_to 'Retour', sessions_path %>
