<p id="notice"><%= notice %></p>

<p>
  <strong>Date de la consultation:</strong>
  <%= @consultation.schedule_time.strftime("%Y/%m/%d %Hh%M") %>
</p>

<p>
  <strong>Note de la scéance:</strong>
  <%= @consultation.note %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @consultation.patient %>
</p>

<%= link_to 'Modifier', edit_consultation_path(@consultation), class: "btn btn-outline-primary mx-1" %>
<%= link_to 'Retour', consultations_path, class: "btn btn-outline-secondary mx-1" %>
