<h1><%= @patient %></h1>
<%= link_to "Retour", root_path, class: "btn btn-outline-secondary mx-1" %>
<%= link_to "Retirer", remove_patient_path(@patient), method: :delete, class: "btn btn-outline-danger mx-1"%>
<%= link_to "Créer une scéance", new_consultation_path({consultation_patient_id: @patient.id}), class: "btn btn-outline-primary mx-1"%>
<div class="p-3">
  <h3>Informations générales</h3>
  <div class="p-2">
    <p>Ajouté il y a <%= distance_of_time_in_words(@patient.created_at, DateTime.now) %></p>
    <p><%= @patient.consultations.size %> consultation<%= 's' if @patient.consultations.any? %></p>
    <p><%= @patient.entries.size %> entrée<%= 's' if @patient.entries.any? %></p>
  </div>
</div>

<% if @consultations.empty? %>
  <h3 class="p-3">Vous n'avez pas encores de consultation pour ce patient</h3>
<% else %>
  <h3 class="p-3">Mes consultations</h3>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th scope="col">Jour</th>
      <th scope="col">Heure</th>
      <th scope="col">Nb Entrées</th>
      <th scope="col" class="w-25">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @consultations.each_with_index do |consultation, index| %>
      <tr>
        <td><%= consultation.schedule_time.strftime("%A %d %B") %></td>
        <td><%= consultation.schedule_time.strftime("%Hh%M") %></td>
        <td><%= @grouped_entries[consultation.id].size %></td>
        <td class="d-flex" style="justify-content: space-evenly">
          <%= link_to "Voir les entrées", "#" %>
          <%= link_to "Voir la scéance", consultation_path(consultation) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if @entries.any? %>
  <div class="w-100">
    <h3 class="p-3">Entrées du patient:</h3>
    <div class="d-flex flex-wrap">
      <% @entries.each do |entry| %>
        <div class="border m-3 p-3 entry">
          <p>Location: <%= entry.location %></p>
          <p><%= entry.time.strftime("%Hh%M, %d/%m/%Y") %></p>
          <p class="m-0">
            Context:
            <p class="entry--content">
              <%=  entry.context %>
            </p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <%= paginate @entries %>
  </div>
<% else %>
  <h3 class="p-3">Ce patient n'as pas encore fait d'entrées </h3>
<% end %>
