<!DOCTYPE html>
<html>
  <head>
    <title>Minders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="d-flex justify-content-lg-between px-5 my-1 align-items-center shadow">
    <h1>Minders</h1>
    <div class="w-25 d-flex justify-content-around">
      <% if current_therapist&.id.nil? %>
        <%=  link_to 'Connection', new_therapist_session_path  %>
        <%=  link_to 'Inscription', new_therapist_registration_path  %>
      <%  else  %>
        <%= link_to 'Tableau de bord', therapists_path %>
        <%=  link_to 'Mes séances', consultations_path %>
        <%=  link_to 'Mon compte', therapists_path  %>
      <%  end %>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
